bin/
obj/

*.user
*.userosscache
*.suo
*.sln.docstates

.vs/

wwwroot/lib/
wwwroot/node_modules/
node_modules/

*.log

*.env
*.env.*

publish/
out/

*.nupkg
packages/
*.snupkg

*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

.idea/
*.iml

.vscode/