/* cite-dark */
body {
    background-color: #22352C !important;
    color: #D1ECE7 !important;
}

.navbar, .table {
    background-color: #1A2924 !important; /* чуть темнее для глубины */
    color: #D1ECE7 !important;
}

a {
    color: #FEE16C !important;
}

button, .btn-primary {
    background-color: #BD7F01 !important;
    border-color: #BD7F01 !important;
    color: #22352C !important;
}

    button:hover, .btn-primary:hover {
        background-color: #A23D01 !important;
        border-color: #A23D01 !important;
    }
